﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
@section scripts {
    <style>
        td, th {
            padding: 0px 10px 0px 10px;
        }

        .paddingleft25 {
            padding-left: 25px;
        }

        .paddingleft50 {
            padding-left: 50px;
        }

        .hidden {
            display: none;
        }

        .border {
            border: solid 1px;
        }
    </style>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/user-interface.js")" type="text/javascript"></script>
}

<div id="body" class="paddingleft25">
    <div data-bind="text: WebApi.Status"></div>
    <input type="button" data-bind="click: AddProject" value="Add some project" />
    <input type="button" data-bind="click: AddPerson" value="Add some person" />
    <input type="button" data-bind="click: JoinCurrentProjectPerson" value="Join current selected" />
    <input type="button" data-bind="click: ReleaseCurrentProjectPerson" value="Release current selected" />
    <br />
    <div>
        <strong>Projects</strong>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Discriprion</th>
                <th>Begin</th>
                <th>End</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            <tbody data-bind="foreach: ProjectApi.Projects">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td><a data-bind="click: $root.GetProjectInfo"><span data-bind="text: Name"></span></a></td>
                    <td data-bind="text: Discription"></td>
                    <td data-bind="text: BeginDate"></td>
                    <td data-bind="text: EndDate"></td>
                    <td data-bind="text: Status"></td>
                    <td><a data-bind="click: $root.DeleteProject">X</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <strong>Persons</strong>
        <table>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Position</th>
                <th>Delete</th>
            </tr>
            <tbody data-bind="foreach: PersonApi.Persons">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td><a data-bind="click: $root.GetPersonInfo"><span data-bind="text: FullName"></span></a></td>
                    <td data-bind="text: Position"></td>
                    <td><a data-bind="click: $root.DeletePerson">X</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div data-bind="attr: {class: CurrentProjectSelected}">
        <strong>Current Project</strong>
        <div class="paddingleft25">
            <h2 data-bind="text: ProjectApi.Current().Name"></h2>
            <p data-bind="text: ProjectApi.Current().Discription"></p>
            <p>Begin date: <span data-bind="text: ProjectApi.Current().BeginDate"></span></p>
            <p>End date: <span data-bind="text: ProjectApi.Current().EndDate"></span></p>
            <p>Status: <span data-bind="text: ProjectApi.Current().Status"></span></p>
            <strong>Workers</strong>
            <div class="border">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Main Position</th>
                        <th>Project Position</th>
                        <th>Begin Working Date</th>
                        <th>End Working Date</th>
                    </tr>
                    <tbody data-bind="foreach: ProjectApi.Current().Persons">
                        <tr>
                            <td data-bind="text: Person.Id"></td>
                            <td data-bind="text: Person.FullName"></td>
                            <td data-bind="text: Person.Position"></td>
                            <td data-bind="text: PositionInProject"></td>
                            <td data-bind="text: BeginDate"></td>
                            <td data-bind="text: EndDate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div data-bind="attr: {class: CurrentPersonSelected}">
        <strong>Current Person</strong>
        <div class="paddingleft25">
            <h2 data-bind="text: PersonApi.Current().FullName"></h2>
            <p data-bind="text: PersonApi.Current().Position"></p>
            <strong>Working on Projects</strong>
            <div class="border">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Discriprion</th>
                        <th>Project Position</th>
                        <th>Begin Working Date</th>
                        <th>End Working Date</th>
                    </tr>
                    <tbody data-bind="foreach: PersonApi.Current().Projects">
                        <tr>
                            <td data-bind="text: Project.Id"></td>
                            <td data-bind="text: Project.Name"></td>
                            <td data-bind="text: Project.Discriprion"></td>
                            <td data-bind="text: PositionInProject"></td>
                            <td data-bind="text: BeginDate"></td>
                            <td data-bind="text: EndDate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
