﻿@model Sapper.Models.GameSettings

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new game</h2>
<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <br />
    <br />
    @using (Html.BeginForm("Create", "Game", FormMethod.Post))
    {
        <div>
            @Html.ValidationMessage("Error")
        </div>
        <label>Width (3-50)</label>
        <div>
            @Html.TextBox("Width", Model.Width)
        </div>
        <label>Height (3-50)</label>
        <div>
            @Html.TextBox("Height", Model.Height)
        </div>
        <label>Mine Number (>0)</label>
        <div>
            @Html.TextBox("MineNumber", Model.MineNumber)
        </div>
        <label>Time Limit (00:00:00 means unlimited time)</label>
        <div>
            @Html.TextBox("TimeLimit", Model.TimeLimit)
        </div>
        <label>Figure</label>
        <div>
            @Html.DropDownListFor(m => m.SelectedFigure, Model.FigureList)
        </div>
        <br />
        <div>
            <input type="submit" value="Create"/>
        </div>
    }
</div>