﻿<div class="sapper-content">
    <div class="sapper-message">
    </div>
    <div class="sapper-time">
    </div>
    <div class="sapper-area">
    </div>
</div>
@Scripts.Render("~/bundles/sapper-modul")