﻿@model Sapper.Models.UserLogin


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <br />
    <br />
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.ValidationMessage("Error")
        </div>
        <label>Login</label>
        <div>
            @Html.TextBox("Login", Model.Login)
        </div>
        <label>Password</label>
        <div>
            @Html.Password("Password", Model.Password)
        </div>
        <br />
        @Html.CheckBox("RememberMe", Model.RememberMe)<label> Remember Me</label>
        <br />
        <br />
        <div>
            <input type="submit" value="Login" />&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Registration", "Account")">Registration</a>
        </div>
    }
</div>