﻿@model Sapper.Models.AccountData

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <br />
    <br />
    @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
    {
        <div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <label>Name</label>
        <div>
            @Html.TextBox("Name", Model.Name)
        </div>
        <label>Login</label>
        <div>
            @Html.TextBox("Login", Model.Login)
        </div>
        <label>Password</label>
        <div>
            @Html.Password("Password", Model.Password)
        </div>
        <label>Confirm Password</label>
        <div>
            @Html.Password("Confirm", Model.Password)
        </div>
        <label>Email</label>
        <div>
            @Html.TextBox("Mail", Model.Mail)
        </div>
        <br />
        <div>
            <input type="submit" value="Registration"/>
        </div>
    }
</div>
