﻿@using Sapper.DatabaseEngine
@model Sapper.Models.AccountData

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <br />
    <div>
        <ul>
            <li><strong>Name:</strong> @Model.Name</li>
            <li><strong>Login:</strong> @Model.Login</li>
            <li><strong>Mail:</strong> @Model.Mail</li>
        </ul>
    </div>
    <div>
        @{
            DataManager repository = new DataManager();
            var scores = repository.GetScoresByAccount(Model.Id);
        }
        <table>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Size</th>
                <th>Mines</th>
                <th>Time</th>
                <th>Score</th>
            </tr>
            @for (int i = 0; i < scores.Length; i++)
            {
                <tr>
                    <td>@scores[i].StartTime.ToString("F")</td>
                    <td>@scores[i].Type</td>
                    <td>@scores[i].Width x @scores[i].Height</td>
                    <td>@scores[i].MinesCount</td>
                    <td>@scores[i].Time.ToString("g")</td>
                    <td>@scores[i].Score</td>
                </tr>
            }
        </table>
    </div>
    

    <a href="@Url.Action("Delete", "Account")">Delete Account</a>
</div>
