﻿@using Sapper.Helpers
@using Sapper.DatabaseEngine
@using Sapper.Models
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <h2>@ViewBag.Title</h2>
            @{
                DataManager repository = new DataManager();
                AuthorizationHelper helper = new AuthorizationHelper()
                {
                    HttpContext = Context,
                    Repository = repository
                };

                if (helper.IsAuthorized)
                {
                    <a href="@Url.Action("UserProfile", "Account")"><strong>@(helper.CurrentUser.Name)</strong></a>
                    <span>&nbsp;&nbsp;</span>
                    <a href="@Url.Action("SignOut", "Account")">Sign Out</a>
                    <br/><br/>
                }
            }
        </header>
        @RenderBody()
        @RenderSection("scripts", false)
    </body>
</html>