﻿<div class="sapper-content" ng-app="sapper">
    <div ng-controller="GameController">
        <div class="sapper-message" ng-class="{victory: getGameState()==1, gameover: getGameState()==-1}">
            {{getCurrentMessage()}}
        </div>
        <div class="sapper-info">
            {{endTime}}<br/>
            {{elapsedTime}}
        </div>
        <div ng-class="{hidden: getGameState()==0}">
            <p>
                <span class="sapper-info">{{score}}</span><br/>
                <input type="button"  ng-click="createNewGame()" value="Try again"/>                
            </p>
        </div>
        <div class="sapper-area">
            <table ng-show="isGameInit()">
                <tr ng-repeat="row in viewMatrix">
                    <td ng-repeat="cell in row" class="sapper-cell {{cell.getClass()}}" ng-click="onCellClick(cell, $event)">
                        {{cell.getValue()}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/sapper-module")