﻿@{
    ViewBag.Title = "Sapper 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Close", "Game")">Back</a>
    <h4>Instruction</h4>
    <ul>
        <li>Left Mouse Click (LMC) - open a cell.</li>
        <li>Ctrl+LMC - toggle a flag.</li>
        <li>Alt+LMC - open 8 cells around except flagged.</li>
    </ul>
    <br />
    @{ Html.RenderPartial("Game"); }
</div>