﻿@{
    ViewBag.Title = "Sapper 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index", "Game")">Start new game</a><br />
    <a href="@Url.Action("About", "Home")">About</a>
</div>