﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <h3>Technical Requirements</h3>
    <p>Написать сапер на ASP MVC.</p>
    <p>Функциональность:</p>
    <ul>
        <li>
            Генерация карты(кол-во клеток, кол-во мин)
        </li>
        <li>
            Режима игры: ограниченное время, неограниченное время
        </li>
    </ul>
    <h3>References</h3>
    <ul>
        <li>
            <a href="http://habrahabr.ru/post/176021/">ASP.NET MVC Урок 4. Routing</a>
        </li>
        <li>
            <a href="http://habrahabr.ru/post/176023/">ASP.NET MVC Урок 5. Создание записи в БД</a>
        </li>
        <li>
            <a href="http://habrahabr.ru/post/176053/">ASP.NET MVC Урок 7. Bootstrap, jQuery, Ajax</a>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/1787939/check-time-difference-in-javascript">Check time difference in Javascript</a>
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/1038746/equivalent-of-string-format-in-jquery">Equivalent of String.format in JQuery</a>
        </li>
    </ul>
</div>