﻿@{
    ViewBag.Title = "Sapper Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sapper</h2>
<div>
    <a href="@Url.Action("Index", "Game")">Start new game</a><br />
    <a href="@Url.Action("About", "Home")">About</a>
</div>