﻿.hidden {
    visibility: hidden;
}

.sapper-cell {
    border: 1px solid #A0A0A0;
    font-family: Verdana;
    font-size: 18px;
    height: 32px;
    min-height: 32px;
    min-width: 24px;
    text-align: center;
    cursor: default;
}

.sapper-cell.hide {
    background-color: #C0C0C0;
}

.sapper-cell.flag {
    background-color: #008080;
}

.sapper-cell.mine {
    background-color: #f00;
}

.sapper-cell.free {
    background-color: white;
}

.sapper-cell.none { visibility: hidden; }

.sapper-message {
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 5px;
}

.sapper-message.victory { color: #008000; }

.sapper-message.gameover { color: #CC3300; }

.sapper-info {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 5px;
}

