﻿.sapper-cell {
    border: 1px solid #C0C0C0;
    font-family: Verdana;
    font-size: 12px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    text-align: center;
    width: 32px;
}

.sapper-cell[attr-hide] {
    background-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}

.sapper-cell[attr-flag] {
    background-color: #008080;
    border-style: solid;
    border-width: 1px;
}

.sapper-cell[attr-mine] {
    background-color: #f00;
    border-style: solid;
    border-width: 1px;
}

.sapper-cell[attr-none] { visibility: hidden; }

.sapper-message {
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 5px;
}

.sapper-message[victory] { color: #008000; }

.sapper-message[gameover] { color: #CC3300; }

.sapper-time {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 5px;
}